/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
width: 98%;
height: 45px;
padding-left: 4%;
background: url(images/menu1.png) no-repeat;
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
width: 30%;
height: 30px;
text-align: center;
text-decoration: none;
display:block;
float:left;
color: #ffffff;
font-weight: bold;
font-size: 14px;
padding-top: 15px;
}


.shadetabs li a:hover{
text-decoration: underline;
background: url(images/menu_r.png) repeat-x;
}

 a.hover {
    width: 30%;
    height: 30px;
	color: #C2F8FF;
	text-decoration: underline;
	
}	

.shadetabs li a.selected{ /*selected main tab style */
background: url(images/menu_r.png) repeat-x;
color: #C2F8FF;
width: 30%;	
height: 30px;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

